name: Test the VCPKG install (Windows Only)

on: [push, pull_request, workflow_dispatch]

jobs:
  build-test-install-windows:
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:

        arch: [x64, x86]
        link_type: [dynamic, static]
        include:
          - arch: x64
            link_type: dynamic
            vcpkg-triplet: x64-windows-release-md
            cmake-preset: windows-x64
            python-executable: python

          - arch: x64
            link_type: static
            vcpkg-triplet: x64-windows-static-release-md
            cmake-preset: windows-x64-static
            python-executable: python

          - arch: x86
            link_type: dynamic
            vcpkg-triplet: x86-windows-release-md
            cmake-preset: windows-x86
            python-executable: python

          - arch: x86
            link_type: static
            vcpkg-triplet: x86-windows-static-release-md
            cmake-preset: windows-x86-static
            python-executable: python

    steps:
    - uses: actions/checkout@v4

    - uses: actions/checkout@v4
      name: Get vcpkg
      with:
        repository: 'microsoft/vcpkg'
        ref: '2025.06.13'
        path: '${{ github.workspace }}/_vcpkg'
        fetch-depth: 0

    - uses: lukka/get-cmake@latest
      name: Get CMake

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

   
    - uses: ilammy/msvc-dev-cmd@v1
      name: Setup Windows dev environment (${{ matrix.arch }})
      with:
        arch: ${{ matrix.arch }}

   
    - name: Configure (Windows ${{ matrix.arch }}-${{ matrix.link_type }})
      run: |
        cmake --preset=${{ matrix.cmake-preset }} `
          -DBUILD_SHARED_LIBS:BOOL=${{ matrix.link_type == 'dynamic' && 'ON' || 'OFF' }} `
          -DVCPKG_OVERLAY_TRIPLETS:PATH=${{ github.workspace }}\vcpkg\triplets `
          -DVCPKG_TARGET_TRIPLET:STRING=${{ matrix.vcpkg-triplet }}
      env:
        VCPKG_ROOT: ${{ github.workspace }}/_vcpkg
        VCPKG_FEATURE_FLAGS: manifests,versions,binarycaching,registries

    - name: Build (Windows ${{ matrix.arch }}-${{ matrix.link_type }})
      run: |
        cmake --build --preset build-${{ matrix.cmake-preset }} --config Release

    
    - name: Test (Windows ${{ matrix.arch }}-${{ matrix.link_type }})
      run: |
        ${{ matrix.python-executable }} --version
        ${{ matrix.python-executable }} -m pip install lief==0.15.1 unicorn z3-solver
        ctest --preset test-${{ matrix.cmake-preset }} -C Release --output-on-failure

    - name: Install (Windows ${{ matrix.arch }}-${{ matrix.link_type }})
      run: |
        cmake --build --preset build-${{ matrix.cmake-preset }} --config Release --target install

    - name: Upload Artifact (Windows ${{ matrix.arch }}-${{ matrix.link_type }})
      uses: actions/upload-artifact@v4
      with:
        name: triton-windows-${{ matrix.arch }}-${{ matrix.link_type }}
        path: ${{ github.workspace }}/out/install/${{ matrix.cmake-preset }}
        if-no-files-found: warn
